SOURCES DE DONNÉES & MÉTADONNÉES
---------------------------------------------------------
1. Données brutes (RTC) :
   https://www.donneesquebec.ca/recherche/dataset/rtc-gtfs-arrets-et-les-parcours

2. Documentation technique (GTFS Reference) :
   https://gtfs.org/documentation/schedule/reference/

---------------------------------------------------------
Consulté et téléchargé le : 11 janvier 2026

Parcours RTc : https://www.rtcquebec.ca/horaires-et-trajets/horaires-des-bus/tous-les-parcours

In [27]:
import pandas as pd
import os

In [28]:
# Lecture des données du RTC 
path = '../input/'

df_agency = pd.read_csv(path + 'agency.txt')
df_routes = pd.read_csv(path + 'routes.txt')
df_stops = pd.read_csv(path + 'stops.txt')
df_trips = pd.read_csv(path + 'trips.txt')
df_stop_times = pd.read_csv(path + 'stop_times.txt', low_memory=False);df_stop_times.columns = df_stop_times.columns.str.strip()
df_calendar = pd.read_csv(path + 'calendar.txt')
df_shapes = pd.read_csv(path + 'shapes.txt')
df_transfers = pd.read_csv(path + 'transfers.txt')

In [29]:
df_agency

,agency_id,agency_name,agency_url,agency_timezone,agency_phone,agency_lang
0,RTC,Réseau de transport de la capitale (RTC),https://www.rtcquebec.ca,America/Montreal,+1-418-627-2511,fr

In [30]:
df_routes.head()

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color
0,1-1,RTC,1,NaN,Station Belvédère - Gare fluviale / Cap-Blanc,3,https://www.rtcquebec.ca/Default.aspx?tabid=95...,013888,FFFFFF
1,1-107,RTC,107,NaN,Gare du Palais - Pointe-de-Sainte-Foy,3,https://www.rtcquebec.ca/Default.aspx?tabid=95...,013888,FFFFFF
2,1-11,RTC,11,NaN,Gare fluviale - Pointe-de-Sainte-Foy,3,https://www.rtcquebec.ca/Default.aspx?tabid=95...,013888,FFFFFF
3,1-11G,RTC,11G,NaN,- C.-Laforte / McCartney,3,https://www.rtcquebec.ca/Default.aspx?tabid=95...,013888,FFFFFF
4,1-13,RTC,13,NaN,Saint-Louis/Sainte-Foy Centre/du Versant-Nord ...,3,https://www.rtcquebec.ca/Default.aspx?tabid=95...,013888,FFFFFF

In [31]:
df_stops.head()

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,stop_url,wheelchair_boarding
0,1-1005,1005,Champlain/1005,Rue Champlain / boul. Champlain,46.798412,-71.218674,https://www.rtcquebec.ca/horaires-et-trajets/h...,1
1,1-1006,1006,Champlain/1006,Rue Champlain / au 761,46.799080,-71.217148,https://www.rtcquebec.ca/horaires-et-trajets/h...,1
2,1-1007,1007,Champlain/1007,Rue Champlain / au 699,46.799896,-71.215889,https://www.rtcquebec.ca/horaires-et-trajets/h...,0
3,1-1008,1008,Champlain/1008,Rue Champlain / au 629,46.801186,-71.213852,https://www.rtcquebec.ca/horaires-et-trajets/h...,0
4,1-1009,1009,Champlain/1009,Rue Champlain / au 557,46.802032,-71.212486,https://www.rtcquebec.ca/horaires-et-trajets/h...,0

In [32]:
df_trips.head()

,route_id,service_id,shape_id,trip_id,trip_headsign,trip_short_name,direction_id,block_id,wheelchair_accessible
0,1-76,20260010multint,1-76-R-294,104675042_20260010multint,Aéroport international Jean-Lesage (Nord),Aéroport,1,1000-2,1
1,1-80,20260010multint,1-80-A-453,104674900_20260010multint,Place Jacques-Cartier (Sud),Place Jacques-Cartier,0,1000-3,0
2,1-4,20260010multint,1-4-R-64,104676756_20260010multint,Maizerets (Nord),Maizerets,1,1000-5,0
3,1-4,20260010multint,1-4-A-65,104676729_20260010multint,Place Jacques-Cartier (Sud),Place Jacques-Cartier,0,1000-5,0
4,1-86,20260010multint,1-86-R-245,104674775_20260010multint,Terminus Les Saules (Nord),Term. Les Saules,1,1000-8,0

In [33]:
df_stop_times.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type
0,104675042_20260010multint,05:15:00,05:15:00,1-1898,1,0,0
1,104675042_20260010multint,05:15:51,05:15:51,1-3515,2,0,0
2,104675042_20260010multint,05:16:21,05:16:21,1-1926,3,0,0
3,104675042_20260010multint,05:16:41,05:16:41,1-1927,4,0,0
4,104675042_20260010multint,05:17:14,05:17:14,1-1928,5,0,0

In [34]:
df_calendar.head()

Empty DataFrame
Columns: [service_id, monday, tuesday, wednesday, thursday, friday, saturday, sunday, start_date, end_date]
Index: []

In [35]:
df_shapes.head()

    shape_id  shape_pt_lat  shape_pt_lon  shape_pt_sequence
0  1-1-A-420     46.796860    -71.240349                  1
1  1-1-A-420     46.796619    -71.240051                  2
2  1-1-A-420     46.796200    -71.240837                  3
3  1-1-A-420     46.797272    -71.242096                  4
4  1-1-A-420     46.798138    -71.243141                  5

In [36]:
df_transfers.head()

  from_stop_id to_stop_id  transfer_type  min_transfer_time
0       1-1213     1-1243              2                180
1       1-1213     1-1324              2                180
2       1-1213     1-1289              2                180
3       1-1213     1-1213              2                180
4       1-1243     1-1324              2                180

# Tables d'intéret

Ici je ne garde que les tables qui m'interessent (stops, trips et stop_times). Je veux relier les parcours (route_id) aux arrets (stop_id). 


Je fais une jointure entre df_routes et df_stop_time par trip_id  pour lier les voyages et les horaires

ensuite le resultats est joint a la table df_stop sur le stop_id pour recuperer les coordonnées et les nom d'arrets 

Source https://gtfs.org/documentation/schedule/reference/

In [37]:
# Je vais chercher lier les voyages et les horaires de passage
merged_step_1 = pd.merge(df_trips[['route_id',  'trip_id', 'direction_id', 'trip_headsign','wheelchair_accessible']],
                         df_stop_times[['trip_id', 'stop_id', 'stop_sequence', 'pickup_type',  'drop_off_type']], 
                         on='trip_id')

# Je rajoute les infos sur les arrets (lat, long, nom)
merged_step_2 = pd.merge(merged_step_1, df_stops, on='stop_id')

# Nettoyage finale et suppression des doublons
merged_arret_parcours = merged_step_2[[
    'route_id', 
    'direction_id', 
    'trip_headsign',
    'stop_id', 
    'stop_name', 
    'stop_lat', 
    'stop_lon', 
    'stop_sequence',
    'wheelchair_accessible', 
    'wheelchair_boarding',  
    'pickup_type',
    'drop_off_type'
]].drop_duplicates()

merged_arret_parcours['Parcours'] = merged_arret_parcours['route_id'].astype(str).str.split('-').str[-1] # route_id = 1-76 devient parcours = 76

In [38]:
merged_arret_parcours.head()

,route_id,direction_id,trip_headsign,stop_id,stop_name,stop_lat,stop_lon,stop_sequence,wheelchair_accessible,wheelchair_boarding,pickup_type,drop_off_type,Parcours
0,1-76,1,Aéroport international Jean-Lesage (Nord),1-1898,Gare de train,46.754501,-71.297424,1,1,0,0,0,76
1,1-76,1,Aéroport international Jean-Lesage (Nord),1-3515,St-Louis/3515,46.756157,-71.296989,2,1,0,0,0,76
2,1-76,1,Aéroport international Jean-Lesage (Nord),1-1926,des Hôtels,46.756859,-71.293365,3,1,0,0,0,76
3,1-76,1,Aéroport international Jean-Lesage (Nord),1-1927,de Valmont/1927,46.757275,-71.290695,4,1,1,0,0,76
4,1-76,1,Aéroport international Jean-Lesage (Nord),1-1928,W.-Stuart,46.759113,-71.287292,5,1,1,0,0,76

In [39]:
len(merged_arret_parcours.Parcours.unique())

150

# Parcours du RTC

In [40]:
import geopandas as gpd

df_parcours = gpd.read_file('../output/PArcoursJson/Parcours.json') # fichier crée sur arcgis pro a partir d'un shapefile 
df_parcours['Parcours'] = df_parcours['Parcours'].astype(str)
df_parcours = df_parcours.drop_duplicates(subset=['Parcours', 'Type'])
df_parcours.head()

,FID,Parcours,Nom,Type,geometry
0,0,1,1,Régulier,"MULTILINESTRING ((250760.75 5186661.471, 25074..."
1,1,3,3,Régulier,"MULTILINESTRING ((248425.181 5188234.063, 2484..."
3,3,4,4,Régulier,"MULTILINESTRING ((249007.454 5190296.782, 2489..."
4,4,9,9,Régulier,"MULTILINESTRING ((248698.646 5186060.233, 2486..."
5,5,11,11,Régulier,"MULTILINESTRING ((250760.75 5186661.471, 25074..."

In [41]:
len(df_parcours.Parcours.unique())

134

In [42]:
df_final = pd.merge(merged_arret_parcours, df_parcours[['Parcours', 'Type']], on='Parcours', how='left')
df_final.head(3)

,route_id,direction_id,trip_headsign,stop_id,stop_name,stop_lat,stop_lon,stop_sequence,wheelchair_accessible,wheelchair_boarding,pickup_type,drop_off_type,Parcours,Type
0,1-76,1,Aéroport international Jean-Lesage (Nord),1-1898,Gare de train,46.754501,-71.297424,1,1,0,0,0,76,Régulier
1,1-76,1,Aéroport international Jean-Lesage (Nord),1-3515,St-Louis/3515,46.756157,-71.296989,2,1,0,0,0,76,Régulier
2,1-76,1,Aéroport international Jean-Lesage (Nord),1-1926,des Hôtels,46.756859,-71.293365,3,1,0,0,0,76,Régulier

In [43]:
df_final["Type"].unique()

array(['Régulier', nan, 'Express 200', 'Express 300', 'Express 500',
       'Couche-Tard', 'Métrobus'], dtype=object)

In [44]:
# Je ne garde que les parcours de type 'Régulier' et 'Métrobus' et aussi uniquement les arrêts où la descente est permise (drop_off_type == 0)
df_final = df_final[
    (df_final['Type'].isin(['Régulier', 'Métrobus'])) & 
    (df_final['drop_off_type'] == 0)
]

df_final = df_final.drop(columns=['wheelchair_accessible', 'wheelchair_boarding', 'pickup_type', 'drop_off_type'])

In [45]:
gdf = gpd.GeoDataFrame(
    df_final, 
    geometry=gpd.points_from_xy(df_final.stop_lon, df_final.stop_lat),
    crs="EPSG:4326"  #  WGS84
)

In [46]:
gdf.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [47]:
#gdf = gdf[gdf.Type == 'Régulier']

In [48]:
gdf.to_file("../output/rtc_data.geojson", driver='GeoJSON')